<div class="container">
  <div class="ingredient-title">
    <h1><%= @cocktail.name %></h1>
  </div>
</div>

    <% @cocktail.doses.each do |dose| %>
    <div class="ingredient-card">
      <div class="ingredient-content">
        <%= dose.ingredient.name %>
        <%= dose.description %>
      </div>
    </div>
    <% end %>



<div class="ingredient-card">
  <%= render "dose_form" %>
</div>

<div class="links">
  <%= link_to "back", cocktails_path %>
</div>
